* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');
:root {
    /* Notice we declare this with the same key, value pair. */
    --color-one: #133c55;
    --color-two: #386fa4;
    --color-three: #59a5d8;
    --color-four: #84d2f6bd;
    --color-five: #91e5f6;
}

html {
    font-family: 'Lato', sans-serif;
    background-image: url(https://apod.nasa.gov/apod/image/0305/m74_gemini_big.jpg);
}

.container {
    background-color: var(--color-four);
}

.topmatter {
    background-size: 100%;
    border-color: var(--color-one);
    background-color: var(--color-five);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

header {
    color: white;
    background-color: var(--color-one);
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font
}

nav ul {
    background-color: var(--color-four);
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.bio {
    background-color: var(--color-three);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    font-size: 1.5rem;
}

h2 {
    background-color: var(--color-two);
    font-family: 'Roboto', sans-serif;
    color: var(--color-five);
    font-size: xx-large;
    padding: 1rem;
    border-radius: 5px;
}

h3 {
    font-size: x-large;
    padding: 1rem;
    background-color: var(--color-five);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

article {
    background-color: var(--color-four);
    border-color: var(--color-one);
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

footer {
    background-color: var(--color-three);
    font-family: 'Roboto', sans-serif;
}