@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FFFBF8;
}

a {
  color: inherit;
  text-decoration: none;
}

.active-page {
   text-decoration: underline;
	 text-underline-offset: 8px; 
}

@font-face {
   font-family: 'AlegreyaSansSC-Thin';
   src: url('../public/static/AlegreyaSansSC-Thin.ttf');
}

@font-face {
   font-family: 'Caveat';
   font-weight: '500'; 
   src: url('../public/static/Caveat-VariableFont_wght.ttf');
}

@font-face {
   font-family: 'DancingScript';
   font-weight: '500'; 
   src: url('../public/static/DancingScript-VariableFont_wght.ttf');
}

@font-face {
   font-family: 'TenorSans';
   font-weight: '300';
   src: url('../public/static/TenorSans-Regular.ttf');
}
